<?xml version="1.0" encoding="UTF-8"?>
<testsuites>
  <testsuite name="tests" tests="58" assertions="131" failures="0" errors="0" time="18.503353">
    <testsuite name="PPAPIServiceTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPAPIServiceTest.php" tests="2" assertions="2" failures="0" errors="0" time="0.002174">
      <testcase name="testSetServiceName" class="PPAPIServiceTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPAPIServiceTest.php" line="37" assertions="2" time="0.001404"/>
      <testcase name="testMakeRequest" class="PPAPIServiceTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPAPIServiceTest.php" line="48" assertions="0" time="0.000770"/>
    </testsuite>
    <testsuite name="PPBaseServiceTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPBaseServiceTest.php" tests="1" assertions="3" failures="0" errors="0" time="0.001219">
      <testcase name="testGetServiceName" class="PPBaseServiceTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPBaseServiceTest.php" line="39" assertions="3" time="0.001219"/>
    </testsuite>
    <testsuite name="PPCertificateCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPCertificateCredentialTest.php" tests="8" assertions="8" failures="0" errors="0" time="0.006656">
      <testcase name="testValidateUname" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPCertificateCredentialTest.php" line="35" assertions="1" time="0.000908"/>
      <testcase name="testValidatePwd" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPCertificateCredentialTest.php" line="48" assertions="1" time="0.000835"/>
      <testcase name="testValidateCertPath" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPCertificateCredentialTest.php" line="58" assertions="1" time="0.000835"/>
      <testcase name="testValidateAppId" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPCertificateCredentialTest.php" line="67" assertions="1" time="0.000840"/>
      <testcase name="testGetUserName" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPCertificateCredentialTest.php" line="77" assertions="1" time="0.000794"/>
      <testcase name="testGetPassword" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPCertificateCredentialTest.php" line="86" assertions="1" time="0.000792"/>
      <testcase name="testGetCertificatePath" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPCertificateCredentialTest.php" line="94" assertions="1" time="0.000796"/>
      <testcase name="testGetApplicationId" class="PPCertificateCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPCertificateCredentialTest.php" line="101" assertions="1" time="0.000856"/>
    </testsuite>
    <testsuite name="PPConfigManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPConfigManagerTest.php" tests="3" assertions="9" failures="0" errors="0" time="0.002758">
      <testcase name="testGetInstance" class="PPConfigManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPConfigManagerTest.php" line="39" assertions="1" time="0.000782"/>
      <testcase name="testGet" class="PPConfigManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPConfigManagerTest.php" line="49" assertions="5" time="0.001013"/>
      <testcase name="testGetIniPrefix" class="PPConfigManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPConfigManagerTest.php" line="65" assertions="3" time="0.000963"/>
    </testsuite>
    <testsuite name="PPConfigurationExceptionTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPConfigurationExceptionTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000864">
      <testcase name="testPPConfigurationException" class="PPConfigurationExceptionTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPConfigurationExceptionTest.php" line="33" assertions="1" time="0.000864"/>
    </testsuite>
    <testsuite name="PPConnectionExceptionTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPConnectionExceptionTest.php" tests="2" assertions="2" failures="0" errors="0" time="0.001759">
      <testcase name="testGetUrl" class="PPConnectionExceptionTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPConnectionExceptionTest.php" line="37" assertions="1" time="0.000823"/>
      <testcase name="testPPConnectionException" class="PPConnectionExceptionTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPConnectionExceptionTest.php" line="44" assertions="1" time="0.000936"/>
    </testsuite>
    <testsuite name="PPConnectionManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPConnectionManagerTest.php" tests="2" assertions="5" failures="0" errors="0" time="0.001798">
      <testcase name="testGetInstance" class="PPConnectionManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPConnectionManagerTest.php" line="37" assertions="1" time="0.000797"/>
      <testcase name="testGetConnection" class="PPConnectionManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPConnectionManagerTest.php" line="46" assertions="4" time="0.001001"/>
    </testsuite>
    <testsuite name="PPCredentialManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPCredentialManagerTest.php" tests="2" assertions="11" failures="0" errors="0" time="0.002106">
      <testcase name="testGetInstance" class="PPCredentialManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPCredentialManagerTest.php" line="37" assertions="1" time="0.001034"/>
      <testcase name="testGetCredentialObject" class="PPCredentialManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPCredentialManagerTest.php" line="47" assertions="10" time="0.001072"/>
    </testsuite>
    <testsuite name="PPInvalidCredentialExceptionTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPInvalidCredentialExceptionTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000827">
      <testcase name="testErrorMessage" class="PPInvalidCredentialExceptionTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPInvalidCredentialExceptionTest.php" line="37" assertions="1" time="0.000827"/>
    </testsuite>
    <testsuite name="PPLoggingManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPLoggingManagerTest.php" tests="5" assertions="0" failures="0" errors="0" time="0.003780">
      <testcase name="testLog" class="PPLoggingManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPLoggingManagerTest.php" line="37" assertions="0" time="0.000757"/>
      <testcase name="testError" class="PPLoggingManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPLoggingManagerTest.php" line="45" assertions="0" time="0.000765"/>
      <testcase name="testWarning" class="PPLoggingManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPLoggingManagerTest.php" line="54" assertions="0" time="0.000751"/>
      <testcase name="testInfo" class="PPLoggingManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPLoggingManagerTest.php" line="62" assertions="0" time="0.000753"/>
      <testcase name="testFine" class="PPLoggingManagerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPLoggingManagerTest.php" line="70" assertions="0" time="0.000754"/>
    </testsuite>
    <testsuite name="PPMissingCredentialExceptionTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPMissingCredentialExceptionTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000831">
      <testcase name="testErrorMessage" class="PPMissingCredentialExceptionTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPMissingCredentialExceptionTest.php" line="37" assertions="1" time="0.000831"/>
    </testsuite>
    <testsuite name="PPObjectTransformerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPObjectTransformerTest.php" tests="1" assertions="2" failures="0" errors="0" time="0.000899">
      <testcase name="testToString" class="PPObjectTransformerTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPObjectTransformerTest.php" line="39" assertions="2" time="0.000899"/>
    </testsuite>
    <testsuite name="PPSignatureCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPSignatureCredentialTest.php" tests="8" assertions="8" failures="0" errors="0" time="0.006546">
      <testcase name="testValidateSignature" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPSignatureCredentialTest.php" line="37" assertions="1" time="0.000859"/>
      <testcase name="testValidateUsername" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPSignatureCredentialTest.php" line="46" assertions="1" time="0.000835"/>
      <testcase name="testValidatepwd" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPSignatureCredentialTest.php" line="55" assertions="1" time="0.000834"/>
      <testcase name="testValidateAppId" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPSignatureCredentialTest.php" line="64" assertions="1" time="0.000834"/>
      <testcase name="testGetSignature" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPSignatureCredentialTest.php" line="73" assertions="1" time="0.000797"/>
      <testcase name="testGetUserName" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPSignatureCredentialTest.php" line="80" assertions="1" time="0.000795"/>
      <testcase name="testGetPassword" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPSignatureCredentialTest.php" line="87" assertions="1" time="0.000795"/>
      <testcase name="testGetAppId" class="PPSignatureCredentialTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPSignatureCredentialTest.php" line="94" assertions="1" time="0.000797"/>
    </testsuite>
    <testsuite name="PPUtilsTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPUtilsTest.php" tests="4" assertions="6" failures="0" errors="0" time="0.008730">
      <testcase name="testNvpToMap" class="PPUtilsTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPUtilsTest.php" line="37" assertions="3" time="0.000943"/>
      <testcase name="testArray_match_key" class="PPUtilsTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPUtilsTest.php" line="48" assertions="2" time="0.001009"/>
      <testcase name="testGetLocalIPAddress" class="PPUtilsTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPUtilsTest.php" line="59" assertions="0" time="0.005969"/>
      <testcase name="testGetRequestSource" class="PPUtilsTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\PPUtilsTest.php" line="68" assertions="1" time="0.000809"/>
    </testsuite>
    <testsuite name="BaseAddressTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\BaseAddressTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000831">
      <testcase name="testToNVPString" class="BaseAddressTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\BaseAddressTest.php" line="37" assertions="1" time="0.000831"/>
    </testsuite>
    <testsuite name="BusinessInfoTypeTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\BusinessInfoTypeTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000858">
      <testcase name="testToNVPString" class="BusinessInfoTypeTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\BusinessInfoTypeTest.php" line="38" assertions="1" time="0.000858"/>
    </testsuite>
    <testsuite name="CreateAndSendInvoiceRequestTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\CreateAndSendInvoiceRequestTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000962">
      <testcase name="testToNVPString" class="CreateAndSendInvoiceRequestTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\CreateAndSendInvoiceRequestTest.php" line="37" assertions="1" time="0.000962"/>
    </testsuite>
    <testsuite name="CreateAndSendInvoiceResponseTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\CreateAndSendInvoiceResponseTest.php" tests="1" assertions="7" failures="0" errors="0" time="0.001124">
      <testcase name="testDecode" class="CreateAndSendInvoiceResponseTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\CreateAndSendInvoiceResponseTest.php" line="44" assertions="7" time="0.001124"/>
    </testsuite>
    <testsuite name="CreateInvoiceRequestTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\CreateInvoiceRequestTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000988">
      <testcase name="testToNVPString" class="CreateInvoiceRequestTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\CreateInvoiceRequestTest.php" line="37" assertions="1" time="0.000988"/>
    </testsuite>
    <testsuite name="CreateInvoiceResponseTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\CreateInvoiceResponseTest.php" tests="1" assertions="7" failures="0" errors="0" time="0.001091">
      <testcase name="testDecode" class="CreateInvoiceResponseTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\CreateInvoiceResponseTest.php" line="35" assertions="7" time="0.001091"/>
    </testsuite>
    <testsuite name="ErrorDataTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\ErrorDataTest.php" tests="1" assertions="7" failures="0" errors="0" time="0.001844">
      <testcase name="testErrorData" class="ErrorDataTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\ErrorDataTest.php" line="48" assertions="7" time="0.001844"/>
    </testsuite>
    <testsuite name="FaultMessageTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\FaultMessageTest.php" tests="1" assertions="17" failures="0" errors="0" time="0.002763">
      <testcase name="testFaultMessage" class="FaultMessageTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\FaultMessageTest.php" line="59" assertions="17" time="0.002763"/>
    </testsuite>
    <testsuite name="InvoiceServiceTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\InvoiceServiceTest.php" tests="4" assertions="17" failures="0" errors="0" time="18.447025">
      <testcase name="testCreateInvoice" class="InvoiceServiceTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\InvoiceServiceTest.php" line="38" assertions="5" time="8.296146"/>
      <testcase name="testCreateInvoiceForThirdParty" class="InvoiceServiceTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\InvoiceServiceTest.php" line="65" assertions="2" time="1.511367"/>
      <testcase name="checkSendInvoice" class="InvoiceServiceTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\InvoiceServiceTest.php" line="89" assertions="5" time="2.489085"/>
      <testcase name="testCreateAndSendInvoice" class="InvoiceServiceTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\InvoiceServiceTest.php" line="108" assertions="5" time="6.150427"/>
    </testsuite>
    <testsuite name="InvoiceTypeTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\InvoiceTypeTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.001104">
      <testcase name="testToNVPString" class="InvoiceTypeTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\InvoiceTypeTest.php" line="37" assertions="1" time="0.001104"/>
    </testsuite>
    <testsuite name="RequestEnvelopeTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\RequestEnvelopeTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000902">
      <testcase name="testToNVPString" class="RequestEnvelopeTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\RequestEnvelopeTest.php" line="37" assertions="1" time="0.000902"/>
    </testsuite>
    <testsuite name="ResponseEnvelopeTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\ResponseEnvelopeTest.php" tests="1" assertions="4" failures="0" errors="0" time="0.001027">
      <testcase name="ResponseEnvelopeTest" class="ResponseEnvelopeTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\ResponseEnvelopeTest.php" line="36" assertions="4" time="0.001027"/>
    </testsuite>
    <testsuite name="SendInvoiceRequestTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\SendInvoiceRequestTest.php" tests="1" assertions="1" failures="0" errors="0" time="0.000833">
      <testcase name="testToNVPString" class="SendInvoiceRequestTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\SendInvoiceRequestTest.php" line="37" assertions="1" time="0.000833"/>
    </testsuite>
    <testsuite name="SendInvoiceResponseTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\SendInvoiceResponseTest.php" tests="1" assertions="6" failures="0" errors="0" time="0.001053">
      <testcase name="SendInvoiceResponseTest" class="SendInvoiceResponseTest" file="C:\wamp\www\test\92\invoicing-php-sdk\tests\service\SendInvoiceResponseTest.php" line="36" assertions="6" time="0.001053"/>
    </testsuite>
  </testsuite>
</testsuites>
